* {
  font-family: 'Overpass', sans-serif;
  color: #fff;
}

body {
  background-color: hsl(216, 12%, 8%);
}

#noteContainer {
  display: flex;
}

#thankImage {
  display: none;
  margin: 20px auto;
}

#selectedNote {
  display: none;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: hsl(25, 97%, 53%);
  background-color: rgba(77, 85, 95, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
}

#title {
  font-weight: 700;
}

#paragraph {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-weight: 400;
}

#container {
  box-sizing: content-box;
  margin: auto;
  padding: 10px 20px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 25px;
  max-width: 330px;
}

.ratings {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: rgba(77, 85, 95, 0.5);
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

#buttonSubmit {
  display: block;
  margin: 25px auto 10px;
  width: 95%;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 0.25rem;
  padding: 12px;
  border: none;
  background-color: hsl(25, 97%, 53%);
}

#buttonSubmit:hover {
  animation: blink1 1s ease-in-out infinite;
}

#attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}

#attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes blink1 {
  0% {
    scale: 1.0;
  }

  50% {
    scale: 1.03
  }

  100% {
    scale: 1.0
  }
}